/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/database/database.sqlite

.DS_Store
/public/css
/public/vendor/statamic
/public/js
/storage/statamic/users
/storage/debugbar/*
/storage/glide/*
/storage/antlers-language-server/*

# When in dev...
/public/img/.meta
/public/img/fieldtypes/.meta
.antlers.json
/content
/users

