<div class="max-w-5xl mx-auto relative mt-16 content">
    <article class="lg:py-32 max-w-2xl mx-auto">
        <h1>{{ title }}</h1>
        <div class="bg-gray-800 inline-block text-sm mb-16 pr-4 pl-16 -ml-16 uppercase tracking-widest text-white py-1 rounded-r-full">
            Published
            {{ if topics }}
                in {{ topics }}<a href="{{ url }}" class="text-teal-light no-underline hover:text-white">{{ title }}</a>{{ unless last }}, {{ /unless }}{{ /topics }}
            {{ /if }}
            on {{ date format="F jS, Y" }}
        </div>
        <div class="prose lg:prose-xl">
            {{ content | widont }}
        </div>
    </article>
</div>
